@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

input, button, .container, .items {
  border: 1px solid black;
  margin: 10px;
  padding: 3px 5px;
  border-radius: 5px;
}

.container {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
}

.items {
  width: 100px;
  margin: 5px;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.safe {
  background-color: green;
}

.bomb {
  background-color: orange;
}

.hide {
  background-color: white;
  color: white;
}